name: CI

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

permissions:
  contents: write
  pull-requests: write

concurrency:
  group: ${{ github.ref == 'refs/heads/main' && format('ignore-main-{0}', github.run_id) || format('{0}-{1}', github.workflow, github.ref_name) }}
  cancel-in-progress: true

jobs:
  lint-report:
    uses: canonical/identity-credentials-workflows/.github/workflows/lint-report.yaml@v0

  static-analysis:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6

      - name: Install charmcraft
        run: sudo snap install charmcraft --classic

      - name: Fetch charmcraft libs
        run: charmcraft fetch-libs

      - name: Install uv
        run: sudo snap install --classic astral-uv

      - name: Install tox
        run: uv tool install tox --with tox-uv

      - name: Run tests using tox
        run: |
          tox -e static

  unit-tests-with-coverage:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6

      - name: Install charmcraft
        run: sudo snap install charmcraft --classic

      - name: Fetch charmcraft libs
        run: charmcraft fetch-libs

      - name: Install uv
        run: sudo snap install --classic astral-uv

      - name: Install tox
        run: uv tool install tox --with tox-uv

      - name: Run tests using tox
        run: |
          tox -e unit

  build:
    needs:
      - lint-report
      - static-analysis
      - unit-tests-with-coverage
    uses: ./.github/workflows/build-charm.yaml

  integration-test:
    needs:
      - build
    uses: ./.github/workflows/integration-test.yaml
    with:
      artifacts_key: ${{ needs.build.outputs.artifacts_key }}

  publish-charm:
    needs:
      - lint-report
      - static-analysis
      - unit-tests-with-coverage
      - integration-test
      - build
    if: ${{ github.ref_name == 'main' }}
    uses: ./.github/workflows/publish-charm.yaml
    with:
      destination_channel: 1/edge
      artifacts_key: ${{ needs.build.outputs.artifacts_key }}
      charm_paths: ${{ needs.build.outputs.charm_paths }}
    secrets:
      CHARMCRAFT_AUTH: ${{ secrets.CHARMCRAFT_AUTH }}
