name: TiCS Static Analysis

on:
  schedule:
    - cron: '0 3 * * 0' # Every Sunday at 3 am
  workflow_dispatch: # Allows manual triggering

jobs:
  analyze:
    uses: canonical/identity-credentials-workflows/.github/workflows/tics-tox.yaml@v1.2.0
    with:
      project: self-signed-certificates-operator
      fetch_libs: true
    secrets:
      TICSAUTHTOKEN: ${{ secrets.TICSAUTHTOKEN }}
